<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% block head_content %}{%endblock%}

	{% load static %}
	<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous"/>
	<link rel="stylesheet" href=" {% static 'css/main.css' %}" />

</head>
<body class="h-100">
	
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5pb-5" id="auth-container">
				
				<img src=" {% static "img/instagram.png"%}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 60%;">
				{% block container %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>