{% extends "users/base.html" %}

{% block head_content %}
	<title>Sign in</title>
{% endblock %}

{% block container%}
	{%if form.errors %}
		<p class="alert alert-danger">Your username or password incorrect</p>
	{%endif%}

	<form method="POST" action=" {% url "users:login" %} ">
		{% csrf_token %}
		<div class="form-group">
			<input class="form-control" type="text" placeholder="username" name="username"/>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" placeholder="password" name="password">
		</div>

		<button class="btn btn-primary btn-block mt-5" type="submit">Sign in</button>
	</form>
	<p class="mt-4">Don't have an account yet? <a href=" {%url 'users:signup' %} ">SignUP!</a></p>
{% endblock %}