{% extends 'users/base.html' %}

{% block head_content %}
<title>Sign up</title>
{%endblock%}

{% block container %}

	{% if error %}
		<p class="alert alert-danger">{{ error }}</p>
	{%endif%}
	<form action="{%url 'users:signup' %}" method="POST">
		{% csrf_token %}
		
		{{ form.as_p }}

		<button class="btn btn-primary btn-block mt-5" type="submit">Register!</button>

	</form>

{% endblock %}