<nav>
    <ul class="pagination justify-contend-end">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page={{ page_onj.paginator.num_pages }}" class="page-link">
          Previous
        </a>
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="#">
          {{ page_obj.number }} of {{page_obj.paginator.num_pages}}
        </a>
      </li>
      {% if page_obj.hasnext %}
      <li class="page-item">
        <a href="?page={{page_obj.next_page_number}}" class="page-link">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>