{% extends 'index.html'  %}

{%block titulo%}Crear Persona
{% endblock %}

{%block cuerpo%}
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit">Crear o editar</button>
</form>
{% endblock %}
