<!DOCTYPE html>
<html>
<head>
	<title> {% block titulo %} Crud en django {% endblock %}</title>
</head>
<body>
	{% block cuerpo %}
	<h1>Template listado</h1>
	<table border="2">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>apellido</th>
				<th>email</th>
				<th>OPCION</th>
			</tr>
		</thead>
		<tbody>
			{% for persona in object_list %}
				<tr>
					<td>{{persona.nombre}}</td>
					<td> {{persona.apellido}} </td>
					<td> {{persona.correo}} </td>
					<td><a href=" {% url 'editar_persona' persona.id %}">Editar</a></td>
					<td><a href="{% url 'eliminar_persona' persona.id %}">Eliminar</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button><a href="{% url 'crear_persona' %}">Crear</a></button>
	{% endblock %}
</body>
</html>