{% extends "base.html" %}

{% block head_content %}
	<title>Insta</title>
{% endblock %}

{% block container %}
	
	<div class="container">
		<div class="row">
			{% include "post/post_card.html" %}
		</div>
	</div>

{% endblock %}