{% extends "base.html" %}

{% block head_content %}
	<title>New post</title>
{% endblock %}

{% block container %}
	<div class="container">
		<div class="row-justify-content-md-center">
			<div class="col-6 pt-3 pb-3" id="profile-box">
				<h4 class="mb-4">Post new photo!</h4>
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					{% for error in form.errors %}
						{{error }}
					{% endfor %}
					<input type="hidden" name="user" value=" {{ user.pk}}"/>
					<input type="hidden" name="profile" value=" {{ profile.pk}}"/>

					{# title field #}
					<div class="form-group">
						
						<input 
							class="form-control {%if form.title.errors %} is-invalid {% endif %}" 
							type="text" 
							name="title"
							placeholder="title"
						/>
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								{{error }}
							{% endfor %}
						</div>
					</div>

					{# photo field #}
					<div class="form-group">
						<label>Choose your photo</label>
						<input 
							class="form-control {%if form.photo.errors %} is-invalid {% endif %}" 
							type="file" 
							name="photo"
							placeholder="photo" 
						/>
						<div class="invalid-feedback">
							{% for error in form.photo.errors %}
								{{error }}
							{% endfor %}
						</div>
					</div>

					<button type="submit" class="btn btn-primary btn-block mt-5">Publish!</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
